.topic-list th,
.topic-list td {
  padding: 7px 7px !important;
}
.topic-list td {
  background-color: #ffffff !important;
}
.topic-post {
  padding: 12px !important;
  background-color: #ffffff !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07) !important;
  margin-bottom: 16px;
}
.topic-post article {
  border-top-style: solid !important;
  border-top-width: 1px !important;
  border-color: transparent !important;
}
.topic-meta-data {
  font-size: 0.8125rem !important;
}
.topic-status-info {
  border-top-style: solid !important;
  border-top-width: 1px !important;
  border-color: #D2D7DC !important;
}
.topic-list > tbody > tr:first-of-type {
  border-top-style: solid !important;
  border-top-width: 1px !important;
  border-color: #D2D7DC !important;
}
.topic-list > tbody > tr {
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-color: #D2D7DC !important;
}
.topic-list-main-link,
.topic-list .main-link {
  font-size: 1rem !important;
}
.topic-list .posts-map {
  font-size: 1rem !important;
}
#topic-progress {
  border-right-style: solid !important;
  border-right-width: 1px !important;
  border-color: #40AD87 !important;
  background-color: #40AD87 !important;
  color: #ffffff !important;
}
#topic-progress .bg {
  border-right-style: solid !important;
  border-right-width: 1px !important;
  border-color: #008255 !important;
  background-color: #008255 !important;
}
#suggested-topics {
  margin-bottom: 20px !important;
  padding: 20px 12px 15px 12px !important;
  background-color: #ffffff !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07) !important;
}
.user-main .about.collapsed-info .details,
.user-main .about {
  background-color: transparent !important;
}
.mobile-view .mobile-nav {
  font-size: 0.8125rem !important;
  text-transform: uppercase !important;
  letter-spacing: 0.0625em !important;
  line-height: 1.2 !important;
}
.mobile-view .mobile-nav.messages-nav,
.mobile-view .mobile-nav.notifications-nav,
.mobile-view .mobile-nav.activity-nav,
.mobile-view .mobile-nav.preferences-nav {
  top: -50px !important;
}
.user-main .about .details {
  background-color: transparent;
}
.user-main .about .secondary {
  font-size: 0.8125rem !important;
  line-height: 1.2 !important;
  letter-spacing: .0625em !important;
}
.user-stream .item,
.user-stream .user-stream-item {
  padding: 20px 12px 15px 12px !important;
}
.user-right {
  margin: 10px 0 20px 0 !important;
}
