@font-face {
  font-family: GothamBook;
  src: url($gothambook) format('woff2');
}
@font-face {
  font-family: GothamBold;
  src: url($gothambold) format('woff2');
}
body {
  font-family: GothamBook;
  font-size: 1rem;
  background-color: #F5F6F7 !important;
}
h1,
h2,
h3,
h4 {
  font-family: GothamBold;
  font-weight: 800;
}
h3 {
  color: $primary !important;
}
p {
  line-height: 1.75 !important;
  font-weight: 400 !important;
}
a {
  color: #005FB9;
}
a:visited {
  color: #005FB9;
}
a:hover {
  color: #005FB9;
  text-decoration: underline;
}
a:active {
  color: #005FB9;
}
.d-header {
  box-shadow: none !important;
  border: 1px solid #d2d7dc !important;
}
.btn,
.btn-danger {
  font-size: 12px !important;
  text-transform: uppercase !important;
  letter-spacing: .0625em !important;
}
.btn-primary {
  font-size: 12px !important;
  background: $quaternary !important;
  text-transform: uppercase !important;
  letter-spacing: .0625em !important;
}
.btn-primary:hover,
.btn-primary.btn-hover {
  background: #40AD87 !important;
}
.btn-primary:active,
.btn-primary.btn-active {
  font-weight: 500 !important;
}
.btn-flat {
  font-size: 12px !important;
  text-transform: uppercase !important;
  letter-spacing: .0625em !important;
}
.alert.alert-info {
  background-color: #deefff !important;
}
.full-width {
  background: #fff !important;
  padding: 12px !important;
  margin-bottom: 20px !important;
}
.nav-pills > li > a {
  font-size: 12px !important;
  text-transform: uppercase !important;
  letter-spacing: .0625em !important;
}
.nav-pills > li > a:hover {
  color: $secondary !important;
  background-color: #40AD87 !important;
}
.nav-pills > li.active > a,
.nav-pills > li > a.active {
  font-weight: 500 !important;
}
.admin-contents table td {
  border-bottom: 1px solid #d2d7dc;
  border-top: 1px solid #d2d7dc;
}
.admin-contents {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.dashboard-stats table th {
  background: #F5F6F7 !important;
}
.admin-controls {
  background-color: #fff !important;
}
.admin-controls .nav.nav-pills li.active a {
  border-color: $quaternary !important;
  background-color: $quaternary !important;
}
.nav-stacked {
  background: #F5F6F7 !important;
}
.nav-stacked li {
  border-bottom: 1px solid #F5F6F7 !important;
}
.content-list ul li {
  border-bottom: 1px solid #D2D7DC !important;
}
.content-list ul li:first-of-type {
  border-top: 1px solid #D2D7DC !important;
}
.content-list ul li a:hover {
  background-color: #F5F6F7 !important;
  text-decoration: none;
}
span.first {
  font-family: GothamBold;
}
.small-action {
  border-top: 0px !important;
}
.select-kit.combo-box.category-drop .category-drop-header {
  font-size: 12px !important;
  text-transform: uppercase !important;
}
.select-kit-body {
  font-size: 12px !important;
  letter-spacing: .0625em !important;
}
.select-kit.dropdown-select-box .select-kit-row .texts .desc {
  text-transform: none !important;
  font-size: .8125rem !important;
  letter-spacing: normal !important;
}
.select-kit .category-row .category-desc {
  text-transform: none !important;
}
.badge-wrapper {
  font-size: .8125em !important;
}
.menu-panel ul.menu-links li a:hover,
.menu-panel ul li.heading a:hover {
  text-decoration: none !important;
}
.map a:hover {
  text-decoration: none !important;
}
#topic-footer-buttons .topic-notifications-button .reason,
#topic-footer-buttons .pinned-button .reason {
  line-height: 1.2 !important;
  font-size: .8125em !important;
}
.select-kit.combo-box .select-kit-header {
  text-transform: uppercase !important;
  font-size: 12px !important;
}
.select-kit .select-kit-collection {
  text-transform: uppercase !important;
}
.submit-panel {
  font-size: 12px !important;
  text-transform: uppercase !important;
  letter-spacing: .0625em !important;
}
.timeline-container .topic-timeline .timeline-scrollarea {
  border-color: #008255 !important;
}
.timeline-container .topic-timeline .timeline-handle {
  background-color: #008255 !important;
}
@media all and (max-width: 775px) {
  .topic-body {
    width: calc(100% - 55px) !important;
  }
  .embedded-posts.top {
    width: calc(100% - 64px) !important;
  }
}
/* Nerdwallet footer styles */
.global-footer {
  /* import main styles */
  /**
 * Footer link
 */
  /**
 * Footer container
 */
  /**
 * Main nav
 */
  /**
 * Copyright
 */
  /**
 * Policy Container
 *
 * N logo - "Rights reserved" text - Terms of Use and Privacy Policy
 */
  /**
 * Disclaimer
 */
}
.global-footer .link {
  touch-action: manipulation;
  text-decoration: none;
  transition: color 0.1s ease;
}
.global-footer .link:focus {
  outline: 4px solid rgba(157, 205, 250, 0.5);
}
.global-footer .link,
.global-footer .link:link,
.global-footer .link:link:visited,
.global-footer .link:visited {
  color: white;
}
.global-footer .link:hover,
.global-footer .link:link:hover {
  text-decoration: none;
  color: #008255;
}
.global-footer .footer {
  background-color: #464646;
  padding: 1.75rem;
  font-family: Gotham, system-ui, sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.846;
  color: #D2D7DC;
}
@media (min-width: 27.5rem) {
  .global-footer .footer {
    padding: calc(1.75rem + 0.25 * (100vw - 27.5rem) / 54.5);
  }
}
@media (min-width: 82rem) {
  .global-footer .footer {
    padding: 2rem;
  }
}
.global-footer .innerContainer {
  margin-left: auto;
  margin-right: auto;
  /* @TODO: Should this use PageContainer? */
  max-width: 1050px;
}
.global-footer .row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}
@media (min-width: 45rem) {
  .global-footer .row {
    flex-flow: row;
  }
}
.global-footer .nav {
  display: flex;
  margin-bottom: 0.5rem;
  flex-flow: row wrap;
}
@media (min-width: 45rem) {
  .global-footer .nav {
    margin-bottom: 0;
  }
}
.global-footer .navLink {
  margin-bottom: 0.5rem;
  composes: link;
}
.global-footer .column {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  min-width: 120px;
}
.global-footer .rightContainer {
  align-items: flex-end;
}
@media (min-width: 45rem) {
  .global-footer .rightContainer {
    display: flex;
  }
}
@media (min-width: 45rem) {
  .global-footer .rightContainer {
    flex-direction: column;
  }
}
.global-footer .message {
  margin-bottom: 1rem;
}
@media (min-width: 45rem) {
  .global-footer .message {
    text-align: right;
  }
}
@media breakpoint-wide {
  .global-footer .message {
    max-width: 400px;
  }
}
.global-footer .socialIconsContainer {
  margin-bottom: 1rem;
}
@media (min-width: 45rem) {
  .global-footer .socialIconsContainer {
    text-align: right;
  }
}
.global-footer .socialIcon {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}
.global-footer .socialIcon:first-child {
  margin-left: 0;
}
.global-footer .socialIcon a {
  display: inline-block;
  background-color: #747679;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.global-footer .socialIcon a::before {
  content: "";
  display: block;
  overflow: hidden;
  width: 21px;
  height: 100%;
  margin: 0 auto;
  background: transparent url(//cdn.nerdwallet.com/img/icons/global-footer/Footer_Social_Icons.svg) no-repeat 0 center;
  background-size: 300% auto;
  background-position-x: 0%;
  background-position-y: 50%;
}
.global-footer .socialIconTwitter {
  composes: socialIcon;
}
.global-footer .socialIconTwitter a:hover {
  background-color: #00aced;
}
.global-footer .socialIconFacebook {
  composes: socialIcon;
}
.global-footer .socialIconFacebook a::before {
  background-position: -21px center;
  background-position-x: 50%;
}
.global-footer .socialIconFacebook a:hover {
  background-color: #3b5998;
}
.global-footer .socialIconInstagram {
  composes: socialIcon;
}
.global-footer .socialIconInstagram a::before {
  background-position: -42px center;
  background-position-x: 100%;
}
.global-footer .socialIconInstagram a:hover {
  background-color: #517fa4;
}
@media (min-width: 45rem) {
  .global-footer .appLinkContainer {
    text-align: right;
  }
}
@media breakpoint-wide {
  .global-footer .appLinkContainer {
    white-space: nowrap;
  }
}
.global-footer .appLink {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}
.global-footer .appLink:last-child {
  margin-right: 0;
}
.global-footer .appLink a {
  display: inline-block;
  width: 135px;
  height: 40px;
  background-repeat: no-repeat;
  border-radius: 4px;
}
.global-footer .appLinkAppleStore {
  composes: appLink;
}
.global-footer .appLinkAppleStore a {
  background: url(//cdn.nerdwallet.com/img/icons/global-footer/Download_on_the_App_Store_Badge_US-UK_135x40.svg);
  background-size: 100%;
}
.global-footer .appLinkGooglePlay {
  composes: appLink;
}
.global-footer .appLinkGooglePlay a {
  background: url(https://play.google.com/intl/en_us/badges/images/badge_new.png);
  background-size: 100%;
}
.global-footer .copyrightImage {
  width: 30px;
  height: 30px;
}
.global-footer .copyRightText {
  color: #94A2A8;
  margin-left: 0.25rem;
}
.global-footer .policyContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.global-footer .policyRightsContainer {
  margin-right: 1rem;
}
.global-footer .policyNavContainer {
  text-align: right;
}
.global-footer .policyLink {
  display: inline-block;
  composes: link;
}
.global-footer .policyLink {
  margin-right: 0.5rem;
}
.global-footer .policyLink:last-child {
  margin-right: 0;
}
.global-footer .disclaimer {
  border-top-style: solid;
  border-top-width: 1px;
  border-color: #94A2A8;
  padding-top: 1rem;
  font-size: 11px;
  line-height: 14px;
}
.global-footer .disclaimer :global(.title) {
  font-weight: 500;
}
.global-footer .socialIcon {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}
.global-footer .socialIcon:first-child {
  margin-left: 0;
}
.global-footer .socialIcon a {
  display: inline-block;
  background-color: #747679;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.global-footer .socialIcon a::before {
  content: "";
  display: block;
  overflow: hidden;
  width: 21px;
  height: 100%;
  margin: 0 auto;
  background: transparent url(//cdn.nerdwallet.com/img/icons/global-footer/Footer_Social_Icons.svg) no-repeat 0 center;
  background-size: 300% auto;
  background-position-x: 0%;
  background-position-y: 50%;
}
