.nw-custom-header {
  background-color: $quaternary;
}
.nw-custom-header__link {
  color: $secondary !important;
  padding: 1rem;
  font-family: Gotham, system-ui, sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600 !important;
}
@media (min-width: 27.5rem) {
  .nw-custom-header__link {
    font-size: calc(1.25rem + 0.375 * (100vw - 27.5rem) / 54.5);
  }
}
@media (min-width: 82rem) {
  .nw-custom-header__link {
    font-size: 1.625rem;
    line-height: 1.23;
  }
}
